<div class="recipe-detail">
<h1><%= @recipe.name %></h1>
<div>
<div class="detals">
  <div class="time">
    <p>Preparation time: </p>
    <span><%=@recipe.preparation_time %></span>
  </div>
  <div class="time">
    <p>Cooking time: </p>
    <span><%=@recipe.cooking_time %></span>
  </div>

  <div>
    <p><%= @recipe.description %></p>
  </div>

  <div class="shop-list">
    <div class="shopping-list">
      <%= link_to 'Generate shopping list', recipes_path, class: 'btn-shopping' %>
    </div>
     <div class="add-ingredient">
      <%= link_to 'Add ingredient', new_recipe_recipe_food_path(@recipe), class: 'btn-ing' %>
    </div>
  </div>
</div>


<table>
 <% if @recipe.recipe_foods.any? %>
    <thead>
        <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <th>Action</th>
        </tr>
    </thead>
    <tbody>
    <% @recipe.recipe_foods.each do |food|%>
    <tr>
      <td><%= food.food.name%></th>
      <td><%= food.quantity%></td>
      <td><%= food.quantity * food.food.price %></td>
      <td>
        <%=link_to "Delete", recipe_recipe_food_path(recipe_id: @recipe.id, id: food.id), data: {turbo_confirm: 'are you sure'}, method: :delete, class:"btn btn-outline-dark"%>
      </td>
    </tr>
    <%end%>
    </tbody>
  <%end%>
</table>
</div>