<div class="nice">
    <h3 class="heading">Shopping List</h3>
    <div class="awesome">
      <div class='rest'>
      <span>Amount of food items to buy: </span>
      <span>&nbsp;<%= @foods.length %></span>
      </div>

      <div class='rest'>
      <span>Total value of food needed:</span>
      <span>&nbsp;<%= @total %></span>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
             <td><%= food.quantity %></td>
            <td><%= food.measurement_unit %></td>
            <td>$<%= food.price %></td>
            <td><%= button_to "Delete", food_path(food.id), method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>