<div class="nice">
    <h3 class="heading">Shopping List</h3>
    <div class="awesome">
      <div class='rest'>
      <span>Amount of food items to buy: </span>
      <span>&nbsp;<%= @foods.length %></span>
      </div>

     

    <table class="table">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td><%= food.name %></td>
             <td><%= food.quantity %></td>
            <td><%= food.measurement_unit %></td>
            <td>$<%= food.price %></td>
            <td><%= button_to "Delete", food_path(food.id), data: {turbo_method: :delete, turbo_confirm: 'are you sure'}, method: :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>