<section class='food-section'> 
  <h1 class="heading"> All Foods</h1>

  <div class="btn-div">
    <%= link_to "Add food", new_food_path, class:"btn-add" %>
  </div>

<div class="listDiv">
   <table class="table tab">
    <thead>
        <tr>
        <th >Food</th>
        <th >Quantity</th>
        <th>Measurement_Unit</th>
        <th>Unit Price</th>
        <th>Action</th>
        </tr>
    </thead>

    <tbody>
    <% @foods.each do |food|%>
    <tr>
      <td><%= food.name%></th>
      <td><%= food.quantity%></th>
      <td><%= food.measurement_unit%></td>
      <td>$<%= food.price%></td>
      <td>
      <%if current_user == food.user%>
        <%=link_to "Delete", food_path(food.id), data: { turbo_method: :delete,turbo_confirm: "Are you sure?"}, class:"btn-delete"%>
      <%end%>
      </td>
    </tr>
    <% end %>
    </tbody>
</table>
</div>
</section>