<h2 class="heading">Add Recipe Food</h2>
<div>
<%= form_with url: recipe_recipe_foods_path, scope: :recipe_food do |f| %>
  <div>
    <div>
    <%= f.label :food %><br>
    <%= f.select :food_id, current_user.foods.collect {|food| [food.name, food.id]}%>
    </div>

    <div>
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity, required: true, placeholder: '1',  min: 1 %>
    </div>

    <div>
    <%= f.submit "Create Recipe_Food" %>
    </div>
  </div>
<% end %>
  <div>
    <%=link_to 'Back', foods_path %>
  </div>
</div>