<nav class="navbar">
  <div class='nav-link'>
    <%= form_with url: root_path, method: :get do %>
      <button class='logo'>Lazy</button>
    <% end %>
    <% if current_user%>
      <%= form_with url: foods_path, method: :get do %>
        <button class='list'>Foods</button>|
      <% end %>
      <%= form_with url: recipes_path, method: :get do %>
        <button class='list'>Recipes</button> |
      <% end %>
      <%= form_with url: public_recipes_path, method: :get do %>
        <button class='list'>Public Recipes</button>|
      <% end %>
      <%= form_with url:general_shopping_list_path, method: :get do %>
        <button class='list'>General Shopping List</button>
      <% end %>
    <% end %>
  </div>
  <div class='nav-list'>
    <% unless current_user%>
    <%= form_with model: User.new, url: new_user_session_path, method: :get, class:'log' do %>
      <button> Sign in</button>
    <% end %>
    <%= form_with model: User.new, url: new_user_registration_path, method: :get, class:'log' do %>
      <button>Sign up</button>
    <% end %>
  <% end %>
  <% if current_user %>
    <%=form_with model: User.new, url: destroy_user_session_path, data: { turbo_method: :delete },
class:'sign-out' do %> 
      <button>Sign out</button>
    <% end %>
    <span class='alert'>
     <p>Welcome <%= current_user.name%></p>
    </span>
  <% end %>
  </div>
</nav>

