<nav class="navbar">
  <div>
    <%= form_with url: root_path, method: :get do %>
      <button>Home</button>
    <% end %>
    <% if current_user.present? %>
      <%= form_with url: foods_path, method: :get do %>
        <button>Foods</button>
      <% end %>
    <% end %>
  </div>
  <div>
    <% unless current_user.present? %>
    <%= form_with model: User.new, url: new_user_session_path, method: :get do %>
      <button> Sign in</button>
    <% end %>
    <%= form_with model: User.new, url: new_user_registration_path, method: :get do %>
      <button>Sign up</button>
    <% end %>
  <% end %>
  <% if current_user.present? %>
    <span>
     <p class='alert'>Welcome <%= current_user.email%></p>
    </span>
    <%=form_with model: User.new, url: destroy_user_session_path, method: :delete do %> 
      <button>Sign out</button>
    <% end %>
  <% end %>
  </div>
</nav>

